<div class="user-card">
    <img src="<%= locals.user.avatar %>" />
    <p><%= locals.user.username %></p>

    <ul class="action-list">
        <li>نظرات</li>
        <li>مشخصات</li>
        <li>دوستان</li>
        <li>خروج</li>
    </ul>
</div>

<div class="panel-card">

</div>

<% contentFor('body') %>